html, body { height: 100%; background-color: #637074;}


.cust-container {
    min-height: 100%;
    overflow: hidden;
}

.cust-inside {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

#game {
    margin-top: 100px;
    background: #637074;
}
